stages:
  - build
  - lint
  - test
  - coverage
  - deploy

image: maven:3-openjdk-17

build-job:
  stage: build
  script:
    - echo -e "\033[1;34m============================\033[0m"
    - echo -e "\033[1;34m       BUILDING STAGE       \033[0m"
    - echo -e "\033[1;34m============================\033[0m"
    - echo -e "\033[1;34mBuilding ...\033[0m"
    - echo -e "\033[1;34m  ____  _     _ _     _            \033[0m"
    - echo -e "\033[1;34m |  _ \| |__ (_) |__ | | ___  ___  \033[0m"
    - echo -e "\033[1;34m | |_) | '_ \| | '_ \| |/ _ \/ __| \033[0m"
    - echo -e "\033[1;34m |  __/| | | | | |_) | |  __/\__ \ \033[0m"
    - echo -e "\033[1;34m |_|   |_| |_|_|_.__/|_|\___||___/ \033[0m"
    - ./mvn-with-auth clean install -X
    - echo -e "\033[1;34m============================\033[0m"
    - echo -e "\033[1;34m     END OF BUILD STAGE     \033[0m"
    - echo -e "\033[1;34m============================\033[0m"

lint-job:
  stage: lint
  script:
    - echo -e "\033[1;33m============================\033[0m"
    - echo -e "\033[1;33m       LINTING STAGE        \033[0m"
    - echo -e "\033[1;33m============================\033[0m"
    - echo -e "\033[1;33mChecking lint ...\033[0m"
    - echo -e "\033[1;33m  _      _       _     _   \033[0m"
    - echo -e "\033[1;33m | |    (_)     | |   | |  \033[0m"
    - echo -e "\033[1;33m | |     _ _ __ | |__ | |_ \033[0m"
    - echo -e "\033[1;33m | |    | | '_ \| '_ \| __|\033[0m"
    - echo -e "\033[1;33m | |____| | | | | | | | |_ \033[0m"
    - echo -e "\033[1;33m |______|_|_| |_|_| |_|\__|\033[0m"
    - mvn checkstyle:check
    - echo -e "\033[1;33m============================\033[0m"
    - echo -e "\033[1;33m     END OF LINT STAGE      \033[0m"
    - echo -e "\033[1;33m============================\033[0m"
  when: manual

test-job:
  stage: test
  script:
    - echo -e "\033[1;32m============================\033[0m"
    - echo -e "\033[1;32m       TESTING STAGE        \033[0m"
    - echo -e "\033[1;32m============================\033[0m"
    - echo -e "\033[1;32mTesting ...\033[0m"
    - echo -e "\033[1;32m  _______        _   \033[0m"
    - echo -e "\033[1;32m |__   __|      | |  \033[0m"
    - echo -e "\033[1;32m    | | ___  ___| |_ \033[0m"
    - echo -e "\033[1;32m    | |/ _ \/ __| __|\033[0m"
    - echo -e "\033[1;32m    | |  __/\__ \ |_ \033[0m"
    - echo -e "\033[1;32m    |_|\___||___/\__|\033[0m"
    - ./mvn-with-auth clean test
    - echo -e "\033[1;32m============================\033[0m"
    - echo -e "\033[1;32m     END OF TEST STAGE      \033[0m"
    - echo -e "\033[1;32m============================\033[0m"

coverage-job:
  stage: coverage
  script:
    - echo -e "\033[1;35m============================\033[0m"
    - echo -e "\033[1;35m     COVERAGE STAGE         \033[0m"
    - echo -e "\033[1;35m============================\033[0m"
    - echo -e "\033[1;35mCreating report ...\033[0m"
    - echo -e "\033[1;35m   _____                           \033[0m"
    - echo -e "\033[1;35m  / ____|                          \033[0m"
    - echo -e "\033[1;35m | |     ___  _ __ ___  _ __ ___   \033[0m"
    - echo -e "\033[1;35m | |    / _ \| '_ ` _ \| '_ ` _ \  \033[0m"
    - echo -e "\033[1;35m | |___| (_) | | | | | | | | | | | \033[0m"
    - echo -e "\033[1;35m  \_____\___/|_| |_| |_|_| |_| |_| \033[0m"
    - mvn jacoco:report
    - echo -e "\033[1;35m============================\033[0m"
    - echo -e "\033[1;35m   END OF COVERAGE STAGE    \033[0m"
    - echo -e "\033[1;35m============================\033[0m"
  artifacts:
    paths:
      - target/site/jacoco/

deploy-job:
  stage: deploy
  script:
    - echo -e "\033[1;36m============================\033[0m"
    - echo -e "\033[1;36m       DEPLOY STAGE         \033[0m"
    - echo -e "\033[1;36m============================\033[0m"
    - echo -e "\033[1;36mDeploying ...\033[0m"
    - echo -e "\033[1;36m  _____                    _       \033[0m"
    - echo -e "\033[1;36m |  __ \                  (_)      \033[0m"
    - echo -e "\033[1;36m | |  | | ___  _ __  _ __  _  __ _ \033[0m"
    - echo -e "\033[1;36m | |  | |/ _ \| '_ \| '_ \| |/ _ |\033[0m"
    - echo -e "\033[1;36m | |__| | (_) | | | | | | | | (_| |\033[0m"
    - echo -e "\033[1;36m |_____/ \___/|_| |_|_| |_|_|\__, |\033[0m"
    - echo -e "\033[1;36m                               __/ |\033[0m"
    - echo -e "\033[1;36m                              |___/ \033[0m"
    - ./mvn-with-auth deploy
    - echo -e "\033[1;36m============================\033[0m"
    - echo -e "\033[1;36m     END OF DEPLOY STAGE    \033[0m"
    - echo -e "\033[1;36m============================\033[0m"
