target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea

pdfSourceTRANSACTION-DOCS.html

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Properties Files ###
# Ignore all properties files in the resources directory
src/main/resources/properties/*.properties
src/main/resources/application*.properties
src/main/resources/application*.yml
src/main/resources/application*.yaml
# Except example files that should be committed
!src/main/resources/properties/*.example.properties
!src/main/resources/application.example.properties
!src/main/resources/application.example.yml
!src/main/resources/application.example.yaml

.refact/